<p>В магазине приложений, пользователь выбирает приложение и тариф, и авторизуется в стороннем сервисе одним из двух способов:</p>

<ul>
<li><p>Если у пользователя нет учётной записи, Эвотор отправляет в сторонний сервис запрос <a href="https://goo.gl/lRg1ss"><strong>[POST] Регистрация учётной записи</strong></a>. Тело запроса содержит регистрационные данные, с помощью которых сторонний сервис создаёт учётную запись. Для авторизации своих запросов, Эвотор передаёт заголовок <code>Authorization</code>.</p>

<p>В ответе сервис передаёт облаку токен пользователя (токен, который Эвотор отправляет в <a href="https://api.evotor.ru/docs/#tag/Vebhuki-uvedomleniya">вебхуках-уведомлениях</a> и запросах от смарт-терминала).</p></li>

<li><p>Если у пользователя есть учётная запись, Эвотор отправляет в сторонний сервис запрос <a href="https://goo.gl/3lkKrL"><strong>[POST] Авторизация пользователя</strong></a>. Тело запроса содержит данные учётной записи пользоваетя в стороннем сервисе. Для авторизации своих запросов, Эвотор передаёт заголовок <code>Authorization</code>.</p>

<p>Тело ответа должно содержать параметр <code>haslBilling</code>. В зависимости от значения параметра Эвотор определяет, кто выполняет биллинг пользователя:</p>

<ul>
<li><p>true – биллинг пользователя выполняет сторонний сервис;</p></li>

<li><p>false – биллинг пользователя выполняет Эвотор.</p></li></ul></li>
</ul>

<blockquote>
  <p>Содержимое заголовка Authorization вы задаёте на <a href="https://dev.evotor.ru/">портале разработчиков</a>, при создании приложения. В зависимости от типа авторизации, который поддерживает сторонний сервис (basic или bearer), заголовок может содержать имя пользователя и пароль для доступа к стороннему сервису, закодированные в base64 или токен стороннего сервиса.</p>
</blockquote>
